{% extends 'layout.html' %}
{% load compressed bootstrap %}
{% load url from future %}

{% block bottom_js %}
    {% compressed_js js_group %}
{% endblock bottom_js %}


{% block content %}
    {% if initial_data %}
        <script type="text/javascript">
            var initial_data = {{ initial_data|safe }}; 
        </script>
    {% endif %}
    <div id="myTabContent">
        <div class="content-action pull-right">
            <a href="{{ url_list }}"><i class="icon-list-alt"></i> Wróć do listy</a>
        </div>
        <h2>{{ verbose_name|title }}</h2>
        <form>
            {% block form-box %}
            {{ form|bootstrap }}
            {% endblock %}
            <div class="form-actions">
                {% if initial_data %}
                <a href="#" class="btn btn-danger delete"><i class="icon-remove icon-white"></i> Usuń</a>
                <a href="#" class="btn pull-right btn-primary save"><i class="icon-ok icon-white"></i> Zapisz</a>
                <a href="#" class="btn pull-right save_and_new">Zapisz i dodaj nowe</a>
                {% else %}
                <a href="#" class="btn btn-success save"><i class="icon-plus icon-white"></i> Dodaj</a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}
